<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoTest">
	<test thread-count="1" name="Test">
		<classes>
			<class name="test.LoginTests" />
			<class name="test.Functions"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- DemoTest -->
